@import url('https://fonts.googleapis.com/css?family=Pacifico:100,200,300,400,500,600,700|Nanum Myeongjo: 100,200,300,400,500,600,700|Domine: 100,200,300,400,500,600,700');

.brand-logo{
    font-family: 'Pacifico', sans-serif;
}

a{
    font-family: 'Nanum Myeongjo', sans-serif;
    font-weight: 600;
}

.element{
    font-family: 'Pacifico', sans-serif;
}

.recipe-name{
    font-family: 'Pacifico', sans-serif;
}

h4{
     font-family: 'Nanum Myeongjo', sans-serif;
}

.desc{
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
}

.desc-recipe{
    font-family: 'Pacifico', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.desc-data{
    font-family: 'Domine', sans-serif;
    font-weight: 400;
    font-size: 25px;
}


h1{
    font-family: 'Pacifico', sans-serif;
    color: #581845;
}

.subheading{
    font-family: 'Pacifico', sans-serif;
    color: #C70039;
}

h2{
    font-family: 'Pacifico', sans-serif;
    color: red;
}

.title{
    font-family: 'Pacifico', sans-serif;
    color: #581845;
}

.detail{
     font-family: 'Domine', sans-serif;
}

.login-pic{
    margin-top:10px;
}
