<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />

    <title>Cook Book</title>
</head>
<body class="green accent-1"></body>
    <nav class="nav light-blue accent-3">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">CookBook</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{url_for('add_recipe')}}">Add A Recipe</a></li>
        <li><a href="{{url_for('get_recipe')}}">Recipes</a></li>
        
      </ul>
    </div>
  </nav>
    {% block content %}
    {% endblock %}
    
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <script>
    
    
     $(document).ready(function(){
       $('.sidenav').sidenav();
     });
    
    //For category dropdown functionality//
    
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('select').material_select();
        });
        
    //jQuery used for datepicker functionality//    
    
       $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        
        
    //Plugin used for form validation to make sure all areas are filled in//    
        
        $(document).ready(function() {
        $('select').material_select();
    
        // for HTML5 "required" attribute
        $("select[required]").css({
          display: "inline",
          height: 0,
          padding: 0,
          width: 0
        });
      });
        

    </script>
    
</body>
</html>