<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css" />
</head>

<body class="indigo lighten-5">
    <nav class="nav indigo lighten-3">
    <div class="nav-wrapper">
      <a href="{{url_for('homepage')}}" class="brand-logo" style="margin-left:10px">HotPot's</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          {% if session['username'] %}
            <li><a href="{{url_for('homepage')}}"><span class="element">{{session['username']}}</span></a></li>
            <li><a href="{{url_for('add_recipe')}}"><span class="element">Add A Recipe!</span></a></li>
            <li><a href="{{url_for('get_recipe')}}"><span class="element">Recipes Menu</span></a></li>
            <li><a href="{{url_for('logout')}}"><span class="element">Log Out</span></a></li>
          {% else %}
            <li><a href="{{url_for('get_recipe')}}"><span class="element">Recipes Menu</span></a></li>
            <li><a href="{{url_for('user')}}"><span class="element">Log In</span></a></li>
            <li><a href="{{url_for('register')}}"><span class="element">Sign Up!</span></a></li>
          {% endif %}        
        
      </ul>
    </div>
  </nav>
  
 
  
    {% block content %}
    {% endblock %}
    
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    
    <script>
    
    //For category dropdown functionality//
    
        $(document).ready(function() {
            $('.collapsible').collapsible();
            $('.sidenav').sidenav();
        
        
    //Plugin used for form validation to make sure all areas are filled in//    
        
        $(document).ready(function() {
        $('select').material_select();
    
        // for HTML5 "required" attribute
        $("select[required]").css({
          display: "inline",
          height: 0,
          padding: 0,
          width: 0
        });
      });
        

    </script>
    
</body>
</html>