{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
       <h1 class="heading"><center>Welcome to HotPot's</center></h1>
       <h5 class="subheading"><center>Share Your Recipe With The World!</center></h5>
       <hr>
        <h2 class="heading"><center>Time for Food!</center></h2>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/Breakfast.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Something to grab on the go or Breakfast in Bed?</p>
        </div>
        <div class="card-action">
         <a href="{{url_for('breakfast')}}">Breakfast Recipes!</a>
        </div>
      </div>
    </div>

  <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/lunch3.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">There's something for everyone's lunch right here!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('lunch')}}">Lunch Recipes!</a>
        </div>
      </div>
    </div>
    
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/curry.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Whether's it's a quiet night in or a family gathering.</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('dinner')}}">Dinner Recipes!</a>
        </div>
      </div>
    </div>
    
  </div>
  
  <hr>
  
  <div class="row">
        <h2 class="heading"><center>What Do You Fancy?</center></h2>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/Irish.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">From Irish Stews to Bacon and Cabbage!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('irish')}}">Irish Cuisine</a>
        </div>
      </div>
    </div>
  
  <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/french.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Whether it's Fillet Mignon or the Perfect Baguette!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('french')}}">French Recipes!</a>
        </div>
      </div>
    </div>
    
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/pasta.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Bolognese, Pizza, Raviolli - It's all right here!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('italian')}}">Italian Recipes!</a>
        </div>
      </div>
    </div>
    
  </div>
  <hr>    
  
    <div class="row">
        <h2 class="heading"><center>Beginner? Don't Fret, there's Something For Everyone!</center></h2>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/stir.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Just Starting Out? Find Some Easy Recipes Below!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('begin')}}">Easy Recipes</a>
        </div>
      </div>
    </div>
  
  <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/medium.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Wanna Test Your Skills? Try the Recipes Below!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('inter')}}">Intermediate Recipes</a>
        </div>
      </div>
    </div>
    
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/ratatouille.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Check Out Our Expert Recipes Below!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('expert')}}">Expert Recipes</a>
        </div>
      </div>
    </div>
    
  </div>
  <hr>
  
  
</div>


<footer class="page-footer indigo lighten-3">
  <div class="footer-copyright">
      <div class="container">
          © 2019 Copyright <strong class="brand-logo">HotPot's</strong>
      </div>
  </div>
</footer>

{% endblock %}