{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="heading">Time for Food!</h2>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/Breakfast.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Something to grab on the go or Breakfast in Bed?</p>
        </div>
        <div class="card-action">
         <a href="{{url_for('breakfast')}}">Click Here for Breakfast Recipes!</a>
        </div>
      </div>
    </div>

  <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/lunch3.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">There's something for everyone's lunch right here!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('lunch')}}">Click Here for Lunch Recipes!</a>
        </div>
      </div>
    </div>
    
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/curry.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Whether's it's a quiet night in or a family gathering.</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('dinner')}}">Click Here for Dinner Recipes!</a>
        </div>
      </div>
    </div>
    
  </div>
  
  <div class="row">
        <h2 class="heading">What Do You Fancy?</h2>
    <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/Irish.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">From Irish Stews to Bacon and Cabbage!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('breakfast')}}">Irish Cuisine</a>
        </div>
      </div>
    </div>
  
  <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/french.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Whether it's Fillet Mignon or the Perfect Baguette!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('lunch')}}">French Recipes!</a>
        </div>
      </div>
    </div>
    
     <div class="col s4 m4">
      <div class="card">
        <div class="card-image">
          <img src="{{url_for('static', filename='images/pasta.jpg')}}" height="420">
        </div>
        <div class="card-content">
          <p class="desc">Bolognese, Pizza, Raviolli - It's all right here!</p>
        </div>
        <div class="card-action">
          <a href="{{url_for('dinner')}}">Italian Recipes!</a>
        </div>
      </div>
    </div>
    
  </div>
    
</div>

{% endblock %}