{% extends 'base.html' %} {% block content %} 

<div class="container">
    <div class="row">
    <div class="col 12 m12">
        {% for recipe in recipes %}
      <div class="card light-blue darken-4">
    <ul>
        <li>
        <div class="card-content white-text">
          <span class="card-title"><strong>{{recipe.recipe_name}}</strong> by <strong>{{recipe.recipe_author}}</strong></span> 
          <hr>
          <p>{{recipe.description}}</p>
          <hr>
          <p><strong>Cuisine: </strong>{{recipe.cuisine}}</p>
          <p><strong>Preparation Time: </strong>{{recipe.prep_time}}</p> 
          <p><strong>Cooking Time: </strong>{{recipe.cooking_time}}</p>
          <p><strong>Gluten Free: </strong>{{recipe.gluten_free}}</p>
          <div class="card-action">
        
           <div class="col-s3">
               {% if session['username'] %}
              <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-recipe">View Recipe</a>
              <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-recipe">Edit Recipe</a>
              <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-recipe">Delete Recipe</a>
              {% else %}
              <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn-recipe">View Recipe</a>
              {% endif %}
           </div>
        </div>
        </li>
    </ul>      

      </div>
      {% endfor %}  
    </div>
  </div>
</div>

       

          
   

{% endblock %}