{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="row">
        <h2>Login</h2>
        <div class="wrapper fadeInDown">
  <div id="formContent">

    <!-- Login Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email Address">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="passsword" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

  </div>
</div>
    </div>
</div>

{% endblock %}