{% extends 'base.html' %} 

{% block content %}

<div class="container">
    <div class="row">
      <center><img class="login-pic" src="{{url_for('static', filename='images/eating.jpg')}}" height=420 width=100%></center>
        <center>
        <h1>Sign Up</h1>      
        <h5 class="subheading"><center>Sign Up and Share Your Recipes Today!</center></h5>
      </center>
        <div class="wrapper fadeInDown">
  <div id="formContent">

    <form  action="{{ url_for('user_info') }}" method="POST">
    <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="text" id="username" class="fadeIn second" name="username" placeholder="Username">
      <input type="text" id="password" class="fadeIn third" name="passsword" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>

  </div>
</div>
    </div>
</div>

<footer class="page-footer indigo lighten-3">
  <div class="footer-copyright">
      <div class="container">
          © 2019 Copyright <strong class="brand-logo">HotPot's</strong>
      </div>
  </div>
</footer>


{% endblock %}