{% extends 'base.html' %} 
{% block content %} 

        <div class="container">
            <div class="row">
                 <h2 class="title"><center>{{ recipe.recipe_name }} by {{ recipe.recipe_author }}</center></h2>
            </div>
                 

            <div class="row">
              <center><strong class="desc-recipe"><p>Difficulty Level</p></strong>  
                  <p class="desc-data">{{ recipe.difficulty_level }}</p></center>
                  <hr>
              <center><strong class="desc-recipe"><p>Category</p></strong>  
                  <p class="desc-data">{{ recipe.category_name }}</p></center>
                  <hr>
              <center><strong class="desc-recipe"><p>Style of Cuisine</p></strong>    
                   <p class="desc-data">{{recipe.cuisine_name}}</p></center>
                  <hr>  
              <center><strong class="desc-recipe"><p>Preparation Time:</p></strong> 
                  <p class="desc-data">{{ recipe.prep_time }}</p></center>
                  <hr>
              <center><strong class="desc-recipe"><p>Cooking Time:</p></strong> 
              <p class="desc-data">{{ recipe.cooking_time }}</p></center>
                  <hr>
              <center><strong class="desc-recipe"><p>Number of Calories:</p></strong>       
               <p class="desc-data">{{recipe.calories}}</p><center>
                  <hr>
              <center><strong class="desc-recipe"><p>Allergens:</p></strong>  
               <p class="desc-data">{{recipe.allergens}}</p><center>
                  <hr>
               <strong class="desc-recipe">Ingredients:</strong>  
                  <p class="desc-data">{{recipe.ingredient1}}</p>
                  <p class="desc-data">{{recipe.ingredient2}}</p>
                  <p class="desc-data">{{recipe.ingredient3}}</p>
                  <p class="desc-data">{{recipe.ingredient4}}</p>
                  <p class="desc-data">{{recipe.ingredient5}}</p>
                  <hr>      
                <strong class="desc-recipe">Instructions:</strong>  
                   <p class="desc-data">{{recipe.instruction1}}</p>
                   <p class="desc-data">{{recipe.instruction2}}</p>
                   <p class="desc-data">{{recipe.instruction3}}</p>
                   <p class="desc-data">{{recipe.instruction4}}</p>
                   <p class="desc-data">{{recipe.instruction5}}</p>
                   <hr>
            </div>
        </div>    
            

{% endblock %}