{% extends 'base.html' %} 
{% block content %} 

        <div class="container">
            <div class="row">
                 <h3>{{ recipe.recipe_name }} by {{ recipe.recipe_author }}</h3>
            </div>
                 

            <div class="row">
              <strong><p>Category:</p></strong>  
                  {{ recipe.category_name }}
                  <hr>
              <strong><p>Style of Cuisine:</p></strong>    
                  {{recipe.cuisine}}
              <strong><p>Preparation Time:</p></strong> 
                  {{ recipe.prep_time }}
                  <hr>
              <strong><p>Cooking Time:</p></strong> 
              {{ recipe.cooking_time }}
                  <hr>
              <strong><p>Number of Calories:</p></strong>       
                {{recipe.calories}}  
              <strong>Allergens:</strong>  
               {{recipe.allergens}}
                  <hr>
               <strong>Ingredients:</strong>  
                  <p>{{recipe.ingredient1}}</p>
                  <p>{{recipe.ingredient2}}</p>
                  <p>{{recipe.ingredient3}}</p>
                  <p>{{recipe.ingredient4}}</p>
                  <p>{{recipe.ingredient5}}</p>
                  <hr>      
                <strong>Instructions:</strong>  
                   <p>{{recipe.instruction1}}</p>
                   <p>{{recipe.instruction2}}</p>
                   <p>{{recipe.instruction3}}</p>
                   <p>{{recipe.instruction4}}</p>
                   <p>{{recipe.instruction5}}</p>
                   <hr>
            </div>
        </div>    
            

{% endblock %}